.graph-parent{
  width: 100%;
  padding: 30px;
  border: 0px #000 solid;
}
.bar{
  width: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: 50px;
  height: 200px;
  background-color: blue;
  height: 0px;
  transition: 10s;
}
.space-controller{
  margin-left: -170px;
}
.bar-name{
  position: absolute;
  bottom: -40px;
}
.graph{
  width: 80%;
  height: 300px;
  border-bottom: 2px #333 solid;
  border-left: 2px #333 solid;
  position: relative;
  left: 10%;
}
.y-label{
  position: absolute;
  bottom: -50px;
  left: 90%;
}
.x-label{
  position: absolute;
  top: 30px;
  left: -10%;
  transform: rotate(90deg);
}